<!DOCTYPE html>
<html>
<head>
    <!-- layout -->
    <%-include("common/layout_header")%>

    <link rel='stylesheet' href='/app/common/css/github.css' />
    <link rel='stylesheet' href='/app/common/css/frameworks.css' />
    <link rel='stylesheet' href='<%= link %>' />
</head>
<body>
<!-- 公共头部 -->
<%-include("common/header")%>

<div class="wrapper">
    <article class="markdown-body entry-content" itemprop="text"><p>JK-前端编码规范</p>
        <ul class="standard-list">
            <li><a href="/index/codestandard-js">Javascript编码规范</a> [1.3]</li>
            <li><a href="/index/codestandard-js-next">Javascript编码规范 - ESNext补充篇</a> [draft]</li>
            <li><a href="/index/codestandard-html">HTML编码规范</a> [1.2]</li>
            <li><a href="/index/codestandard-css">CSS编码规范</a> [1.2]</li>
            <!--<li><a href="/rhinoManGit/spec/blob/master/less-code-style.md">Less编码规范</a> [1.1]</li>
            <li><a href="/rhinoManGit/spec/blob/master/e-json.md">E-JSON数据传输标准</a> [1.0]</li>
            <li><a href="/rhinoManGit/spec/blob/master/module.md">模块和加载器规范</a> [1.1]</li>
            <li><a href="/rhinoManGit/spec/blob/master/package.md">包结构规范</a> [1.1]</li>
            <li><a href="/rhinoManGit/spec/blob/master/directory.md">项目目录结构规范</a> [1.1]</li>
            <li><a href="/rhinoManGit/spec/blob/master/chart.md">图表库标准</a> [1.0]</li>
            <li><a href="/rhinoManGit/spec/blob/master/react-style-guide.md">react编码规范</a> [draft]</li>-->
        </ul>
        <p>Lint and fix tool：<a href="http://fecs.baidu.com/" rel="nofollow">FECS</a></p>
    </article>
</div>

<!-- 公共页脚 -->
<%-include("common/footer")%>
</body>
</html>
